/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Serif&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@700&family=PT+Serif&family=Poppins:wght@500;700&display=swap');


.body{
    background-color: #AAAAAA;
}
/* top-section */
.heading{
    width: 582px;
    height: 270px;
    border-radius: 41px;
    margin-left: 120px;
}

.heading h1{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 700;
}

.heading p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 505px;
    margin-top:16px;
}
.heading button{
    height:44px ;
    width:196px ;
    font-family: 'Poppins', sans-serif;
    font-size: -16px;
    color: #FFFFFF;
    background-color:#E02C6D ;
    border-radius: 41px;
    padding: 10px, 24px, 10px, 24px;
    margin-top: 16px;

}

.main-pic{
    width: 440px;
    height: 414px;
    margin-left: 133px;

}
.top:hover .animation{
    transform: rotate(360deg);
    transition: transform 3s ease;

}




.top{
    display: flex;
}


/* main-part */


.mid{
    height: 1662px;
    width: 1047px;
    margin-top: 330px;
    margin-left: 166px;
    display: flex;
    justify-content: center;
}

.mid h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.item{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 0px;
    
    
}

.item img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin-left: 14px;
    margin-right: 15px;
    margin-top: 17px;
    margin-bottom: 0px;
    

    
}

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
}

.item-description>h1{
    font-weight: 500;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    text-align: left;
    padding-left: 14px;
    margin-top: 16px;
    margin-bottom: 0;
    

}

h3{
    height: 36px;
    font-weight: 400;
    font-size: 24px;
    padding-left: 14px;
    margin-top: 6px;
    margin-bottom: 0;
}

span{
    font-weight: 700;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
}
.icon{
    color: #FB8200;
    width: 16px;
    height: 16px;
    margin-top:0;
    margin-bottom: 0;
    

}
#special{
    margin-left: 14px;
}

.item-description>p{
    font-weight: 700;
    color: #787885;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-left: 14px;
    margin-top: 0;
}


/* bonus-section */
.Bonus{
    margin-top: 123px;
    margin-bottom: 100px;
}

.Bonus h1{
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #E02C6D;
    margin-bottom: 65px;
}

article{
    display: flex;
}
article h3{
    font-family:  'Inter', sans-serif;
    font-size: 34px;
    color: #E02C6D;
}

/* footer */

footer{
    width: 100%;
    height: 240px;
    background-color: rgb(2, 2, 27);
    display: flex;
    justify-content: center;
    align-items: center;

    
}

footer h1{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

footer p{
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

.social-icon{
    width: 176px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-top:17px;
}

.sign{
    height: 32px;
    width: 32px;
    color: white;
    margin-right: 16px;

}
#unique{
    margin-left: 68px;
}

#see-more{
   color:#E02C6DDE;
   width: 99px;
   height: 24px;
   margin-top: 50px;
   margin-left: 960px;
   font-size: 16px;
   font-weight: 700;
   font-family: 'Poppins', sans-serif;


}


/* media query  */
/* mobile-phone */

@media only screen and (max-width:688px) {
    .top{
        display: flex;
        flex-direction: column;
    }
    .heading{
        width: 20%;
        height: 100%;
        margin-left: 0px;
    }
    .heading>p{
        width: 100%;
        height: 5%;
        text-align: center;
    }

    .heading>h1{
        width: 100%;
    }
    .main-pic{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }

    .mid{
        width: 100%;
        margin-left: -10px;
    }

    .mid-main{
        width: 100%;
        height: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .mid-main>p{
        width: 100%;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 0px;
        width: 100%;
        height: 100%;
    }

    .item{
        width: 100%;
        height: 100%;
    }


    .Bonus{
        height: 100%;
        width: 100%;
        margin-top:3000px
    }

    article{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        

    }



    article img{
        width: 100%;
        height: 100%;
    }

    article h3{
        width: 100%;
        height: 100%;
        font-size: 14px;
    }
}


/* tab/ipad */
@media only screen and (max-width:1025px) and (min-width:689px) {


    .top{
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }

    .heading{
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .heading h1,button{
        width: 100%;
    }
    .heading>p{
        width: 80%;
    }

    .main-pic{
        width: 65%;
        margin-top: 620px;
        padding-right: 150px;
        margin-left: 440px;
    }

    .main-pic img{
        width: 60%;
    }

    .mid{
        width: 100%;
        margin-left: 2px;
    }
    .mid-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 2px;

    }
    #see-more{
        width: 100%;
        font-size: 2em;
        padding-right: 280px;
        margin-left: 800px;
    }

    .items{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }

    .item{
        width: 100%;
    }
    .item img{
        width: 100%;

    }

    .Bonus{
        margin-top: 1100px;
        margin-bottom: 250px;
    }

    article{
        display: flex;
    }

    article img,h3{
        width: 100%;

    }


}